body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bookImg {
  width: 10rem;
  height: 16rem;
}

.bookList {
  width: 90vw;
  display: grid;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
.bookContainer {
  background: rgb(120, 214, 211);
  padding: 2rem;
  margin: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  /* border: 2px solid red; */
}
.bookName {
  color: black;
}
.authorName {
  color: green;
}
.publisher {
  color: black;
}
.price {
  color: gold;
}
@media screen and (min-width: 768px) {
  .bookList {
    grid-template-columns: repeat(3, 1fr);
  }
}
